:host {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
.person-card {
  max-width: 1200px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  width: 700px;
}

.error {
  padding: 16px;
  width: 700px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}
